/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of thegit a
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

body:before {
    content: "";
    float: left;
    height: 100%;
    margin-top: -32767px;
    width: 0;

}

html, body {
    height: 100%;
    padding-bottom: 0 !important;
}

body{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    margin: 0;
    min-width: 990px;
    position: relative;
    font-size: 12px;
    line-height: 1.3em;
    padding-top:0px;

}

.content {
    margin: 0 auto;
    width: 1170px;
    padding-top: 60px;
}
#container {
    height: auto !important;
    min-height: 100%;
    position: relative;
    .empty{
      height: 60px;
    }
}
footer{
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: -60px;
   background-color: #F9F9F9;
    #footer_box{
       color: #000;
        margin: 0 auto;
        padding: 30px 0 0;
        width: 1170px;
    }
}
