<nav id="navigation" class="navigation">
	<ul>
		<% Menu.top.each do |t| %>
			<li>
				<%= link_to t.title, t.uri.nil? ? (Menu.find_by_parent_id(t.id).uri.nil? ? Menu.find_by_parent_id(t.id).uri : "#") : t.uri, :class=>"child" %> <div class="downarrowclass"></div>
				<% Menu.find_all_by_parent_id(t.id).each do |child| %>
				<ul class="sub-menu">
					<li>
						<%= link_to child.title, (child.uri.nil? || child.uri.empty? ? category_path(child.id) : child.uri )  %>
					</li>
				</ul>
				<% end %>
			</li>
		<% end %>
	</ul>
	<div class="account-wrapper">
		<ul id="user-account-nav">
			<li>
				<a href="/">Login</a>
			</li>
			<li>
				<a href="/">Create an account</a>
			</li>
		</ul><!--/ #user-account-nav-->
	</div><!--/ .account-wrapper-->
</nav>
